[submodule "php-jwt"]
	path = php-jwt
	url = https://github.com/firebase/php-jwt
	
[submodule "phpseclib"]
	path = phpseclib
	url = https://github.com/phpseclib/phpseclib
[submodule "dialog-polyfill"]
	path = dialog-polyfill
	url = https://github.com/GoogleChrome/dialog-polyfill
